@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    position: absolute;
    top: 10vh;
    left: 110px;
    width: 90vw;
    height: 90vh;
    /* background-color: blue; */
    display: inline-flex;
}
.leftContainer{
    width: 45vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rightContainer{
    width: 45vw;
    height: 70vh;
    margin-top: 10vh;
    justify-content: center;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px #dcdfe6;
}
.openATicket{
    margin-top: 10vh;
    width: 40vw;
    height: 30vh;
    justify-content: center;
    background-color: #ffffff;
    justify-self: center;
    display: flex;
    box-shadow: 0 0 10px 0px #dcdfe6;
    border: 1px solid #dcdfe6;
}
.openATicketContainer{
    justify-self: center;
    align-self: center;
}
.openATicketHead{
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 30px;
}
.dataContainer{
    margin-top: 2vh;
    width: 40vw;
    height: 30vh;
    justify-content: space-between;
    background-color: #ffffff;
    justify-self: center;
    display: flex;
    box-shadow: 0 0 10px 0px #dcdfe6;
    border: 1px solid #dcdfe6;
}
.dataButton{
    cursor: pointer;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04); 
    background-color: #00474f !important;
    border-color: #00474f !important; 
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    padding: 14px 15px 14px 20px !important;
    background-repeat: no-repeat;
    box-sizing: inherit;
    height: 20px;
    justify-self: center;
    align-self: center;
    color: #fff;
    width: 15vw;
    margin-left: 10px;
    margin-right: 10px;
}
.dataButton svg{
    margin-right: 20px;
}
.dataButton:hover svg{
    margin-right: 0px;
    transition: linear 0.5s;
}
.dataButton p{
    font-weight: 500;
}
.rightContainer .dataButton{
    background-color: #fff !important;
    color: #00474f !important; 
    margin-top: 20px;
    height: 20px;
}
.rightContainer .dataContain{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
.rightContainer .dataContain span{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #00474f !important; 
    font-size: 30px;
}