@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
.button {
    all:unset;
    font-size: 25px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    justify-self: center;
    cursor: pointer;
    margin: 2px;
    /* background-color: #64afd9;  if selected*/
    background-color: transparent;
    color: #f8ffff;
    text-align: center;
    border-bottom: 2px solid #fff;
}
.buttonSelected {
    all:unset;
    font-size: 25px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    justify-self: center;
    cursor: pointer;
    margin: 2px;
    /* background-color: #64afd9;  if selected*/
    background-color: rgba(1, 1, 1, 0.13);
    color: #f8ffff;
    text-align: center;
    border-bottom: 5px solid #fff;
}
.loginRegister{
    width: 35vw;
    height: 35vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
}
.carousalContainer{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.head{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3vh;
    color: #fff;
}
.text{
    width: 100%;
    border: 1px solid #93c7e6;
    box-shadow: 0 0 0 1px #3089c5;
    padding: 10px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0;
    max-width: 100%;
    background-color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
}
.inputContainer{
    margin-top: 30px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    display: unset;
}
.headLabel{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
}
.buttonAction{
    margin-top: 20px;
    width: 175px;
    height: 45px;
    box-shadow: none;
    border-color: #fff;
    background-color: #2983c5;
    max-width: 100%;
    font-size: 21px;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #fff;
}
.buttonAction:hover{
    box-shadow: 0 0 5px rgba(40,52,177,.57) inset !important;
    text-decoration: none;
}
@media only screen and (max-device-width: 780px) {
    .loginRegister{
        width: 80vw;
        height: 70vh;
    }
}