@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
.container{
    margin-top: 10vh;
    margin-left: 10vw;
}
.tableHead {
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-flex;
    width: 95%;
    position: relative;
    justify-content: space-between;
}
.tableHeadText {
    font-weight: 400;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    text-rendering: optimizeLegibility;
}
.tableHeadOptions {
    display: inline-flex;
    margin: 5px;
    padding: 3px;
}
.tableHeadSearch {
    display: inline-flex;
    margin: 5px;
    padding: 3px;
}
.tableHeadOptions div {
    margin-right: 10px;
    min-width: 100px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
}
.tableHeadOptions .button {
    background-color: #ffffff;
    border: 1px solid #000;
}
.tableHeadOptions .buttonFilled{
    background-color: #00474f;
    color: #fff;
}
.tableMenu{
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-flex;
    width: 95%;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    margin-top: 10px;
}
.menuItemSelected{
    border-bottom: 4px solid #00474f;
    color: #00474f;
}
.menuItem{
    color: #8d8d8d;
}       
.tableMenuText{
    display: inline-flex;
    font-size: 10px;
    justify-self: center;
    align-self: center;
} 
.dotOrange{
    height: 8px !important;
    width: 8px !important;
    background-color: #ffc069;
    margin: auto;
    border-radius: 25px;
    margin-right: 10px;
}
.dotBlue{
    height: 8px !important;
    width: 8px !important;
    background-color: #85a5ff;
    margin: auto;
    border-radius: 25px;
    margin-right: 10px;
}
.dotRed{
    height: 8px !important;
    width: 8px !important;
    background-color: #ff4d4f;
    margin: auto;
    border-radius: 25px;
    margin-right: 10px;    
}
.dotGreen{
    height: 8px !important;
    width: 8px !important;
    background-color: #52c41a;
    margin: auto;
    border-radius: 25px;
    margin-right: 10px;        
}
.dotText{
    margin-right: 20px;
}
.mainTable{
    width: 95%;
    height: 10vh;
    font-family: "Noto Sans JP",sans-serif !important;
    margin-top: 30px;
}
.tableScroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.tableScroll table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
table * {
    text-align: center;
    color: #00474f;
}
.tableWcroll {
    position: relative;
}
.tableScroll th,
.tableScroll td {
    padding: 10px;
    border-bottom: 1px solid #ebeef5;
    background: #fff;
    vertical-align: top;
    font-size: 12px;
}
.tableScroll thead th {
    background: #f5f5f5;
    color: #252525;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 500;
}

a:focus {
    background: red;
} 

th:first-child {
    position: -webkit-sticky;
    position: sticky;
    font-weight: 400;
    font-size: 12px;
    left: 0;
    z-index: 2;
    box-shadow:  rgba(0,0,0,1);
    /* -webkit-box-shadow: 30px 9px 51px -29px rgba(0,0,0,1);
    -moz-box-shadow: 30px 9px 51px -29px rgba(0,0,0,1); */
    border-right: 1px solid #ebeef5;
}
thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}
th:last-child {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    z-index: 2;
    /* box-shadow: 0 0 10px rgba(0,0,0,.12); */
    border-left: 1px solid #ebeef5;

}
.actionButton img{
    width: 18px;
    height: 18px;
    margin: 5px;
}
.search{
    all:unset;
    font-family: 'Noto Sans JP', sans-serif;
    width: 95%;
}
.icon{
    align-self: center;
    width: 14px;
    height: 14px;
}
.tableFooter{
    position: fixed;
    margin-left: 10vw;
    bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-flex;
    width: 85%;
    justify-content: space-between;
    background-color: #f7f8fc;
}
.tableFootText{
    font-weight: 200;
    font-size: 14px;
    justify-self: center;
    align-self: center;
    text-rendering: optimizeLegibility;   
}
.tableFootOptions {
    display: inline-flex;
    margin: 5px;
}
.tableFootOptions div {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    align-items: center;
}
.tableFootOptions .button {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #8cb6c7;
    color: #8cb6c7;
    justify-content: center;
    align-content: center;
}
.tableFootOptions .buttonFilled{
    display: flex;
    background-color: #00474f;
    color: #fff;
    border: 1px solid #00474f;
    justify-content: center;
    align-content: center;
}